body{
    background-image: linear-gradient(to right, red,magenta,lime,cyan,blue,indigo,violet);
}

.header_div{
    color: red;
    height: 90px;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(to right, red,magenta,lime,cyan,blue,indigo,violet);
}

.header_div img{
    width:80px;
    height: 70px;
    margin-top: 0%;
}

.text_images_and_results{
    width: 30%;
    text-align: left;
    background-color: white;
}

#copy_right_footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: black;
    color: white;
    line-height: 2;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 0%;
    font-family: 'Dancing Script', cursive;
}

.text_images_and_results image{
    width: 5%;
    height: 10%;
}

.mini-result{
    text-align: center;
    background-color: teal;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid black;
}

h3{
    background-color: tomato;
    color: whitesmoke;
    text-align: left;
    font-size: 15px;
    margin: 35px;
    border-radius: 20px;
    padding: 20px;
}